
// colors
//white
$color-white: #fff;


//gray
$color-gray-1: #dcdcdc;


//black
$color-black: #000000;

//blue
$color-blue-1: #0014c9;


//red
$color-red-1: #ce0000;


//green
$color-green-1: #00b21d;


//yellow
$color-yellow-1: #f0ca00;

//orange
$color-orange-1: #ff9900;

//fonts
$font-primary: "Poppins", sans-serif;

// fonts Weight
$font-text--light: 300;
$font-text--regular: 400;
$font-text--medium: 500;
$font-text--semibold: 600;
$font-text--bold: 700;

// breakpoints
$xs: 355px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// transitions
$trans-all-1: all 0.1s ease;
$trans-all-3: all 0.3s ease;
$trans-all-5: all 0.5s ease;

