@use "./variables" as vars;
@use "./utilities" as util;

.main {
  width: 100vw;
  width: 100svw;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: vars.$background-color;
  &__top {
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: vars.$color-white;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: vars.$color-black;
      opacity: 30%;
    }
  }
  &__bottom {
    display: flex;
    gap: 20px;
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
    height: 100%;
    &__menu-content {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      position: relative;
    }
    &__menu-left {
      background-color: vars.$color-white;
      padding-top: 10px;
      min-width: 200px;
    }
  }
}

.container {
  max-width: 1920px;
  margin: auto;
}

a {
  color: inherit !important; /* herda a cor do elemento pai */
  text-decoration: none !important; /* remove o sublinhado */
}

#root {
  font-family: vars.$font-primary;

  &.get-started-event {
    &::after {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      content: "";
      top: 0;
      left: 0;
      z-index: 5;
    }

    .get-started-event__btn-close {
      position: fixed;
      right: 16px;
      bottom: 16px;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 1px solid white;
      background-color: white;

      svg {
        min-width: 16px;
        min-height: 16px;
        max-height: 16px;
        max-width: 16px;
        fill: black;
      }

      &:hover {
        background-color: transparent;
        transition: all 300ms ease-in-out;

        svg {
          fill: white;
        }
      }
    }
  }
}

textarea::-webkit-scrollbar {
  width: 2px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}
