@use "../utilities" as *;
@use "../variables" as vars;

.lista-artigos-page {
  background-color: vars.$background-color;
  font-family: vars.$font-primary;
  min-height: 100vh;
  padding: 2rem;

  .breadcrumb {
    font-size: 0.9rem;
    color: vars.$color-gray-3;
    margin-bottom: 1rem;

    a {
      color: vars.$color-gray-3;
      text-decoration: none;
      transition: vars.$trans-all-3;

      &:hover {
        color: vars.$color-blue-1;
      }
    }

    span {
      color: vars.$color-gray-2;
    }
  }

  .lista-artigos-card {
    background-color: vars.$color-white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(vars.$color-black, 0.05);
    padding: 1.5rem;
    position: relative;
    &__rollback {
      margin-bottom: 16px;

      &__btn {
        width: 40px;
        height: 40px;
        background-color: unset;
        padding: 0;
        border-radius: 50%;
        img {
          height: 20px;
          width: 20px;
        }
        &:hover {
          border-color: unset;
          border: 0;
          background-color: vars.$color-white-4;
        }
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        margin-left: 0.5em;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: vars.$font-text--semibold;
        color: vars.$color-gray-2;
      }

      .download-btn {
        background-color: vars.$color-gray-2;
        color: vars.$color-white !important;
        border: none;
        border-radius: 6px;
        padding: 0.5rem 1.25rem;
        font-weight: vars.$font-text--medium;
        cursor: pointer;
        transition: vars.$trans-all-3;

        &:hover {
          background-color: vars.$color-white;
          color: vars.$color-gray-2 !important;
        }

        &:disabled {
          background-color: vars.$color-gray-1;
          color: vars.$color-gray-3;
          cursor: not-allowed;
          opacity: 0.7;
        }
      }
    }

    .results-container {
      margin-bottom: 1.5rem;
      margin-top: 1rem;
      &__text {
        font-size: 12px;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.95rem;

      th {
        text-align: left;
        color: vars.$color-gray-2;
        font-weight: vars.$font-text--semibold;
        border-bottom: 2px solid vars.$color-gray-1;
        padding: 0.75rem 1rem;
      }

      td {
        padding: 0.75rem 1rem;
        border-bottom: 1px solid vars.$color-gray-1;
        color: vars.$color-gray-3;
        vertical-align: middle;

        &:last-child {
          color: vars.$color-blue-1;
          font-weight: vars.$font-text--medium;
        }
      }

      //   tr:hover {
      //     background-color: lighten(vars.$color-blue-1, 45%);
      //   }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
      gap: 0.4rem;

      button {
        background: none;
        border: none;
        color: vars.$color-gray-2;
        cursor: pointer;
        font-size: 0.95rem;
        padding: 0.4rem 0.7rem;
        border-radius: 4px;
        transition: vars.$trans-all-3;

        // &:hover {
        //   background-color: ;
        // }

        &.active {
          background-color: vars.$color-blue-1;
          color: vars.$color-white;
          font-weight: vars.$font-text--semibold;
        }

        &:disabled {
          color: vars.$color-gray-3;
          cursor: not-allowed;
        }
      }

      .ellipsis {
        color: vars.$color-gray-3;
        padding: 0 0.5rem;
      }
    }
  }
}