@use "../variables" as vars;

.loader-outer {
  min-height: calc(100vh - 156px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: calc(100vw - 147px);
  background-color: vars.$background-color;
  z-index: 10;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.spinner-border {
  color: vars.$color-black;
}
